* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1 {
  font-size: 65px;
  line-height: 75px;
  margin-bottom: 51px;
}
h2 {
  font-size: 50px;
  line-height: 60px;
}
h4 {
  font-size: 35px;
  line-height: 50px;
}
h5 {
  font-size: 30px;
  line-height: 40px;
}
h6 {
  font-size: 25px;
  line-height: 35px;
}

p {
  font-size: 25px;
  margin-bottom: 30px;
}

span {
  font-size: 15px;
}
