* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1 {
  font-size: 4.06rem;
  line-height: 1.1;
  margin-bottom: 51px;
}
h2 {
  font-size: 3.125rem;
  line-height: 1.2;
}
h3 {
  font-size: 2.5rem;
  line-height: 1.4;
}
h4 {
  font-size: 2.19rem;
  line-height: 1.4;
}
h5 {
  font-size: 1.875rem;
  line-height: 1;
}
h6 {
  font-size: 1.562rem;
  line-height: 1;
}

p {
  font-size: 1.562rem;
  margin-bottom: 30px;
  line-height: 1.4;
}

span {
  font-size: 0.937rem;
}

small {
  font-size: 0.75rem;
  line-height: 15px;
}
