$font-stack: 'Roboto', sans-serif;

$primary-color: #ff6336;
$primary-color-hover: #ff9c7d;
$primary-color-bg: #ff9c7d;
$background-color: #fff;
$review-color: #c9e8f2;
$rating-color: #dabc98;
$application-color: #fff8e4;

@mixin text {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}
