$font-stack: 'Roboto', sans-serif;

$primary-color: #ff6336;
$primary-color-hover: #ff9c7d;
$primary-color-bg: #ff9c7d;
$background-color: #fff;
$review-color: #c9e8f2;
$rating-color: #dabc98;

@mixin text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}
