@import './base';
@import './variables';

body {
  font-family: $font-stack;
  font-weight: 400;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.header {
  padding: 25px 51px 24px 51px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ccc;

  &__list {
    display: flex;
    margin-left: 51px;
  }
  &__item {
    margin-right: 42px;
  }
  &__link {
    font-size: 15px;
  }

  &__buttons {
    margin-left: auto;
  }
}

a.button {
  display: inline-block;
  width: 120px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 0;
  border: 1px solid rgba($color: #000000, $alpha: 0.5);
  &:hover {
    color: $primary-color;
    border-color: $primary-color;
  }
  &--primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: $primary-color-hover;
      border-color: $primary-color-hover;
    }
  }
}
