@import './base';
@import './variables';

body {
  font-family: $font-stack;
  font-weight: 400;
  background-color: $background-color;
}

// Header
.header {
  padding: 25px 51px 24px 51px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ccc;

  &__list {
    display: flex;
    margin-left: 51px;
  }
  &__item {
    margin-right: 42px;
  }
  &__link {
    font-size: 15px;
  }

  &__buttons {
    margin-left: auto;
  }
}

// Hero section
.hero {
  padding-top: 97px;
  padding-bottom: 137px;

  &__body {
    display: flex;
    justify-content: center;
  }

  &__text {
    text-align: left;
    flex-basis: 552px;
    & p {
      padding-right: 76px;
    }
  }

  &__buttons {
    margin-bottom: 25px;
    & .button {
      width: 160px;
      padding: 20px 0;
      &:first-child {
        margin-right: 5px;
      }
    }
  }

  &__img img {
    width: 100%;
    height: auto;
  }
}

.wrapper {
  padding: 0 75px;
}

// Sections
.section {
  text-align: center;
  background-color: $background-color;

  &__title {
    max-width: 660px;
    margin: 0 auto;
  }

  &--primary {
    background-color: $primary-color-bg;
  }
}

.companies {
  padding: 104px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }
}

// Button
a.button {
  display: inline-block;
  width: 120px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 0;
  border: 1px solid rgba($color: #000000, $alpha: 0.5);
  &:hover {
    color: $primary-color;
    border-color: $primary-color;
  }
  &--primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: $primary-color-hover;
      border-color: $primary-color-hover;
    }
  }
}
