* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 65px;
  line-height: 75px;
  margin-bottom: 51px;
}

h2 {
  font-size: 50px;
  line-height: 60px;
}

h4 {
  font-size: 35px;
  line-height: 50px;
}

h5 {
  font-size: 30px;
  line-height: 40px;
}

h6 {
  font-size: 25px;
  line-height: 35px;
}

p {
  font-size: 25px;
  margin-bottom: 30px;
}

span {
  font-size: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fff;
}

.header {
  padding: 25px 51px 24px 51px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
}

.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 51px;
}

.header__item {
  margin-right: 42px;
}

.header__link {
  font-size: 15px;
}

.header__buttons {
  margin-left: auto;
}

.hero {
  padding-top: 97px;
  padding-bottom: 137px;
}

.hero__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__body {
  text-align: left;
  -webkit-flex-basis: 552px;
      -ms-flex-preferred-size: 552px;
          flex-basis: 552px;
}

.hero__body p {
  padding-right: 76px;
}

.hero__buttons {
  margin-bottom: 25px;
}

.hero__buttons .button:first-child {
  margin-right: 5px;
}

.hero__img img {
  width: 100%;
  height: auto;
}

.wrapper {
  padding: 0 75px;
}

.section {
  text-align: center;
  background-color: #fff;
}

.section__title {
  max-width: 784px;
  margin: 0 auto;
}

.section--primary {
  background-color: #ff9c7d;
}

.companies {
  padding: 104px 0;
}

.companies__title {
  max-width: 660px;
}

.companies__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.application {
  padding: 120px 0 93px;
  background-color: #fff8e4;
}

.application__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 58px;
}

.application__item {
  -webkit-flex-basis: 330px;
      -ms-flex-preferred-size: 330px;
          flex-basis: 330px;
  margin-bottom: 57px;
}

.application__item h6 {
  margin-top: 26px;
  margin-bottom: 20px;
}

.application__text {
  font-size: 18px;
  line-height: 25px;
}

.productivity {
  text-align: left;
  padding: 154px 0 120px;
}

.productivity__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 75px;
}

.productivity__item {
  padding-right: 48px;
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
}

.productivity__item h5 {
  margin-bottom: 34px;
  margin-top: 50px;
}

.productivity__text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
}

.productivity__link {
  font-size: 20px;
  text-decoration: underline;
}

.productivity__link:hover {
  color: #ff6336;
}

.review {
  padding: 53px 0 105px;
  text-align: left;
  background-color: #c9e8f2;
}

.review__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.review__body {
  -webkit-flex-basis: 840px;
      -ms-flex-preferred-size: 840px;
          flex-basis: 840px;
  margin-right: 85px;
}

.review__body img {
  display: block;
  margin-top: 7px;
}

.review__text {
  font-size: 30px;
  margin-bottom: 23px;
}

.rating {
  background-color: #dabc98;
  text-align: left;
  padding: 70px 0 80px;
}

.rating__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: 810px;
      -ms-flex-preferred-size: 810px;
          flex-basis: 810px;
  border-right: 1px solid #000;
}

.rating__title {
  margin-left: 67px;
}

.rating__cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating__card {
  margin-right: 70px;
}

.rating__stars {
  margin: 20px 0 14px;
}

.rating__small {
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.integrate {
  padding: 165px 0 162px 0;
}

.integrate__text {
  max-width: 505px;
  margin: 0 auto;
}

.integrate__img {
  display: block;
  margin: 25px auto 32px;
}

.tryit {
  padding: 120px 0 160px 0;
}

.tryit__title {
  margin-bottom: 30px;
}

.tryit__button {
  margin-top: 55px;
}

.tryit__text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

a.button {
  display: inline-block;
  min-width: 120px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

a.button:hover {
  color: #ff6336;
  border-color: #ff6336;
}

a.button--primary {
  background-color: #ff6336;
  border-color: #ff6336;
  color: #fff;
}

a.button--primary:hover {
  color: #fff;
  background-color: #ff9c7d;
  border-color: #ff9c7d;
}

a.button--dark {
  background-color: #000;
  color: #fff;
}

a.button--dark:hover {
  border-color: #000;
}

a.button--big {
  min-width: 160px;
  padding: 20px 28px;
}
/*# sourceMappingURL=main.css.map */